.accountSettigns-section {
  width: 105rem;
  height: auto;
  border-radius: 20px;
  padding: 3rem;
  background-color: #fff;
  h1 {
    font-size: 3rem;
  }
  form {
    margin-top: 4rem;
    h2 {
      text-transform: capitalize;
      margin-bottom: 1rem;
      font-size: 2rem;
    }
    .flex-class {
      gap: 3rem;
      align-items: center;
      margin-top: 2rem;
      .input {
        gap: 1rem;
        grid-template-columns: auto;
        input {
          width: 30rem;
          height: 5rem;
          padding: 1rem;
          border: none;
          background-color: #f6f6f6;
        }
        input[type="name"] {
          width: 47rem;
          margin-bottom: 2rem;
        }

        input[type="email"] {
          width: 47rem;
        }
        input[id="newPass"] {
          margin-bottom: 2rem;
        }
        input[id="confrimNewPass"] {
          margin-bottom: 2rem;
        }
        label {
          font-size: 1.3rem;
        }
      }
    }
    button {
      padding: 1.7rem 4rem;
      margin-top: 3rem;
      border: none;
      background-color: #2684e5;
      color: #fff;
      border: 1px solid #2684e5;
      transition: .1s linear;
      &:hover {
        background-color: #fff;
        transition: .1s linear;
        color: #000;
        border: 1px solid #2684e5;
      }
    }
  }
}
